<%- include('header'); -%>
  <div class="inner-trans">
    <h1 class="default-h1">You can't Deposit more than 10,000₹ at one time !</h1>
    <form action="/deposite" method="POST">
      <div class="inner">
        <label for="amount">Amout</label>
        <input type="number" name="amount" min="1000" max="10000"autofocus required><br>
      </div>
     
      <div class="btn-inner-div">
        <button type="submit" class = "btn btn-inner btn-lg" name="button">DEPOSIT</button>

      </div>
    </form>

  </div>
<%- include('footer'); -%>
