<%- include('header'); -%>
  <div style="text-align: center">
    <h1>You can't Deposite more then 10,000 at one time !</h1>
    <form action="/deposite" method="POST">
      <label for="amount">Amout</label>
      <input type="number" name="amount" min="1000" max="10000"autofocus required><br>
      <button type="submit" class = "btn btn-primary btn-lg" name="button">DEPOSITE</button>
    </form>

  </div>
<%- include('footer'); -%>
