<%- include('header'); -%>
  <% if (message) { %>
    <div style="text-align: center" class="alert alert-<%= message.type %>">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong> <%= message.message %></strong>
      </div>
  <% } %>
  <div style="text-align: center">
    <h1>Enter your card number</h1>
    <div>
      <form action="/pin" method="POST">
        <input type="text" name="Cardno" placeholder="card_no" required autofocus>
        <button class="btn btn-primary" type="submit" name="submit">Insert</button>
      </form>
    </div>
    <a href="/addmember"><button class="btn btn-primary">Fill Form</button></a>
  </div>
  
<%- include('footer'); -%>
