<%- include('header'); -%>
<div class="inner-trans">
    <form action="/pinchange" method="POST">
      <h1 class="default-h1">Your Pin must be of 6 digits!</h1><br>
      <div class="inner">
        <label for="new_pin">New Pin</label>
        <input type="password" name="new_pin" autofocus required><br>

      </div>
      <div class="btn-inner-div">
        <button type="submit" class="btn btn-inner btn-lg"name="pin_change">SET PIN</button><br>

      </div>
    </form>
  </div>
<%- include('footer'); -%>
