<%- include('header'); -%>

<div class="teams">

</div>
<footer class="teams-footer">
    <div>
        <h4><i class="fab fa-phoenix-framework"></i><a href="/team">  ATMSIMULATOR</a></h4>
    </div>
  
  </footer>
  
