<%- include('header'); -%>
<div class="form-group" style="text-align: center">
  <form action="/transfer" method="POST">
    <h1 class="default-h1">You can't tranfer more then 100,000 at one time !</h1><br>
    <label for="account_number">Account number to whome you want to send money</label>
    <input type="text" name="account_num" autofocus required><br>
    <label for="Amount">Amount</label>
    <input type="number" name="amount_tranfer" min="1000" max="100000"required><br>
    <button type="submit" class="btn btn-primary btn-lg"name="tranfer">TRANSFER</button><br>
  </form>
</div>
<%- include('footer'); -%>
