<%- include('header'); -%>
<% if (message) { %>
  <div style="text-align: center" class="alert alert-<%= message.type %>">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong> <%= message.message %></strong>
    </div>
<% } %>
<div style="text-align: center">
  <form action="/features" method="POST">
    <button class="btn btn-primary btn-lg" type="submit" name="withdraw_cash" value="1">Withdraw Cash</button>
    <br>
    <button class="btn btn-primary btn-lg" type="submit" name="deposite_cash" value="2">Deposite Cash</button>
    <br>
    <button class="btn btn-primary btn-lg" type="submit" name="mini_statement" value="3">Mini Statement</button>
    <br>
    <button class="btn btn-primary btn-lg" type="submit" name="pin_change" value="4">Pin Change</button>
    <br>
    <button class="btn btn-primary btn-lg" type="submit" name="balance_inquary" value="5">Balance Inquary</button>
    <br>
    <button class="btn btn-primary btn-lg" type="submit" name="transfer_cash" value="6">Transfer Cash</button>
    <br>
    <button class="btn btn-primary btn-lg" type="submit" name="fast_cash" value="7">Fast Cash</button>
    <br>
    <button class="btn btn-danger btn-lg" type="submit" name="exit" value="8">EXIT</button>
    <br>
  </form>
</div>










<%- include('footer'); -%>
