* {
  padding: 0;
  margin: 0;
  outline: none;
  text-decoration: none;
}

.member-container {
  background: url("/assets/welcome.png");
  min-height: 100vh;
  text-align: center;
  background-repeat: no-repeat;
  margin: 1rem;
  border-radius: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.member-container .left-col {
  /* padding-left: 2rem; */
  padding-right: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.member-container .context {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  margin-top: 5rem;
  padding: 0 5rem;
}

.member-container .context p {
  color: #575757;
  line-height: 1.6rem;
  font-size: 1rem;
}
.member-container .signup {
  background: rgba(105, 105, 105, 0.4);
  backdrop-filter: blur(4px);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10rem;
}
.member-container .signup .form-title {
  padding: 1rem;
  /* font-family: Podkova VF Beta; */
  font-style: normal;
  font-weight: normal;
  /* font-size: 35px; */
  line-height: 39px;
  display: flex;
  align-items: center;
  text-align: center;
  background: #464646a9;
  border-radius: 30px;
  margin-bottom: 1rem;
  color: #e4e2e2;
}
.member-container .signup label {
  font-size: 1.3rem;
  color: #525252;
  display: inline-block;
  *display: inline; /* for IE7*/
  zoom: 1; /* for IE7*/
  /* float: left; */
  padding-top: 5px;
  text-align: right;
  width: 140px;
  /* float: left; */
}

input {
  border: none;
  font-size: 1.3rem;
  background: #ffffff;
  border: 0.5px solid #000000;
  border-radius: 20px;
  outline: none;
  padding: 0.3rem;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
  *display: inline; /* for IE7*/
  zoom: 1; /* for IE7*/
  vertical-align: middle;
}

.member-container .main-form {
  padding: 2rem 0 2rem 0;
}

.form input {
  margin-left: 20px;
}
::placeholder {
  text-align: center;
}

.btn {
  width: 10rem;
}
.btn {
  border: 0.5px solid #000000;
  box-sizing: border-box;
  border-radius: 20px;
  margin: 1rem;
  font-size: 1.3rem;
  transition: 0.3s all ease;
  background: #fcb4b4;
  color: #575757;
  transition: 0.3s all ease;
  outline: none;
}

.btn:hover {
  color: #f4f4f4;
  background: #525252;
}

.member-container .signup .homepage {
  background: #f4f4f4;
  color: #525252;
  transition: 0.3s all ease;
  outline: none;
}
.member-container .signup .homepage:hover {
  color: #f4f4f4;
  background: #525252;
}
.submit {
  background: #fcb4b4;
  color: #525252;
  margin-top: 3rem;
  outline: none;
}
.submit:hover {
  color: #f4f4f4;
  background-color: #525252;
}

/* HOMEPAGE CSS */

.homepage-container {
  background: url("/assets/homepage(2).png");
  min-height: 100vh;
  text-align: center;
  background-repeat: no-repeat;
  margin: 1rem;
  border-radius: 1.2rem;
}

.left-col {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 50vh;
}
.content {
  background: rgba(105, 105, 105, 0.4);
  backdrop-filter: blur(4px);
  border-radius: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 8rem 5rem;
  /* height: 20rem; */
}

.header-title {
  color: #575757;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-title h1 {
  /* font-family: Podkova VF Beta; */
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 39px;
}

.homepage-container a .btn {
  background: #0f77be;
  color: #e4e2e2;
  height: 4rem;
}
/* .homepage-container a .btn:hover {
  background: #fcb4b4;
  color: #525252;
} */

.form-footer {
  padding: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #464646a9;
  border-radius: 30px;
  /* margin-bottom: 1rem; */
  color: #e4e2e2;
}

.form-footer .btn:hover {
  background: #525252;
  color: #f4f4f4;
}
/* PINPAGE */
.pin-page {
  background: url("/assets/pin.png");
}
.pin-page .signup {
  padding: 1rem;
}

.fa,
.fas {
  margin-top: 1rem;
  font-size: 4rem;
}

footer {
  background: #fcb4b4;
  border-radius: 30px;
  text-align: center;
  color: #575757;
  margin: 0rem 1rem;
}
